Studen Name: Md Sah Alam Basith,
Email: md.basithalam@gmail.com,
Mob: +8801748157992,

# Python Conditions:

1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [11]:
length = int(input("Enter the length number: "))
breadth = int(input("Enter the breadth number: "))
if length==breadth:
        print("It is a Square number")
else: 
        print("it is not a Square number")

Enter the length number: 10
Enter the breadth number: 10
It is a Square number

2. Take three integer values from the user and print the greatest among them.

In [12]:
N1 = int(input("Enter the number 1: "))
N2 = int(input("Enter the number 2: "))
N3 = int(input("Enter the number 3: "))
if N1 > N2 and N1 >N3:
    greatest = N1
elif N2 > N1 and N2 > N3:
    greatest = N2
else:
    greatest =N3

print("Among number of {}, {} and {} between {} the Greatest number.".format(N1,N2,N3,greatest))

Enter the number 1: 1
Enter the number 2: 2
Enter the number 3: 3
Among number of 1, 2 and 3 between 3 the Greatest number.

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [13]:
held = int(input("Number of classes held: "))
attnd = int(input("Number of classes attendance: "))

percentage= (attnd/held*100)
print("Percentage of class attendance: ", percentage)

if (percentage < 75):
    print("Opps! We are sorry for not allowed you.")
else:
    print("Congratulation! you are allowed for exam sit.")

Number of classes held: 30
Number of classes attendance: 1
Percentage of class attendance:  3.3333333333333335
Opps! We are sorry for not allowed you.

A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [14]:
grade=int(input("Enter obtain marks : "))

if(grade<25):
    print(" Grade F")
elif(grade>=25 and grade<45):
    print(" Grade E")
elif(grade>=45 and grade<50):
    print(" Grade D")
elif(grade>=50 and grade<60):
    print(" Grade C")
elif(grade>=60 and grade<80):
    print(" Grade B")
elif(grade>=80 and grade<90):
    print(" Grade A")
elif(grade>=90):
    print(" Grade A+")

Enter obtain marks : 80
 Grade A

5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [18]:
n=7
i=1

while(i<=n):
    j=1
    while(j<=i):
        print(j, end=" ")
        j+=1
    print()
    i+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

6. Display numbers from -100 to -10 using for loop.

In [1]:
for i in range (-100,-9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [2]:
def findPrime(p):
  t=int(p/2)
  for s in range(2, t+1):
    if p%s == 0:
      return 0;
  return 1


def findSum(a, b):
  a=int(a)
  b=int(b)
  print("Check the below Prime Numbers...")
  sum=0
  for i in range(a, b+1):
    x=findPrime(i)
    if x==1:
      sum=sum+i
      print(str(i)+"  ")
  print("Sum of all prime numbers in the range["+str(a)+", "+str(b)+"] is "+str(sum))

#input("Enter the upper limit of the range: ")

x=10 
y=1000 
findSum(x,y)

Check the below Prime Numbers...
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
Sum of all prime numbers in the range[10, 1000] is 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [10]:
n = 7
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
   print("The factorial of",n,"is",factorial)

The factorial of 7 is 5040

9. Reverse a given integer number 27956240710.

In [14]:
num = 27956240710
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 1704265972

10. Print the following pattern using for and while loop.

In [19]:
def pattern(n):
   # print upper triangle
   i = 3
   while i<n:
      # printing stars
      print("# " * i)
      i+=1

   # print lower triangle
   i = n
   while i>=1:
      # printing stars
      print("# " * i)
      i-=1

n = 4

pattern(n)

# # #
# # # #
# # #
# #
#

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [21]:
nterms = 15

n1, n2 = 0, 1
count = 0


if nterms <= 0:
   print("Please enter a positive integer")

elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)

else:
   print("Fibonacci elements:")
   while count < nterms:
       print(n1)
       nth = n1 + n2

       n1 = n2
       n2 = nth
       count += 1

Fibonacci elements:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [15]:
Li = [1,3,5, [2,3], "True"]

for i in range(len(Li)):

    if Li[i] == [2,3]:
        Li[i] = [3,3]

    if Li[i] == "True":
        Li[i] = "False"

print(Li)

[1, 3, 5, [3, 3], 'False']

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [23]:
S1 = {1,4,6,8}
S2 = {"True", 1,2,10}

print(S1 & S2)

{1}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [32]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate = [1,9,3,4,5,200,54]

print(Remove(duplicate))

[1, 9, 3, 4, 5, 200, 54]

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [1]:
dict_info = {
    "Name": "Shakil",
    "Age" : 27,
    "City": "Berlin",
    "Country": "Germany"
}

dict_info["Region"] = dict_info.pop("Country")

print(dict_info)

{'Name': 'Shakil', 'Age': 27, 'City': 'Berlin', 'Region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [9]:
import pandas as pd

num = [10,100,300]
df=pd.DataFrame(num)
df=pd.DataFrame(num, index=['a','b','c'],
columns=["Number"])
df

   Number
a      10
b     100
c     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany"

In [10]:
change_info = {
    "Name": "Shakil",
    "Age" : 27,
    "City": "Berlin",
    "Country": "Germany"
}

change_info["Age"] = 28

print(change_info)

{'Name': 'Shakil', 'Age': 28, 'City': 'Berlin', 'Country': 'Germany'}